# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment / virtualenv
.env
env/
venv/
ENV/
.venv/

# IDEs
.vscode/
.idea/

# Models (large files)
models/
models
*.keras
*.h5

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Others
*.tmp
